body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mapHere {
    display: flex;
    justify-content: center;
}
.row {
    width: 1000px;
    height: 50px;
    display: flex;
}
.cell {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.start {
    background: url(images/toby.jpg) no-repeat center center; 
    background-size: cover;
}
.walkway {
    background: #7F2A49;
}
.wall {
    background: black;
}
.finish {
    background: url(images/holly.jpg) no-repeat center center; 
    background-size: cover;
}


#player { 
    position: absolute; 
    background: url(images/michaelScorn.gif) no-repeat center center; 
    background-size: cover;
    width: 47.5px;
    height: 50px;
}


.messageStyle {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    font-size: 70px;
}


#buttonHolder {
    display: flex;
    justify-content: center;
    z-index: 22;
}